.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: #fff159 ;
}

.footer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100rem;
  /* padding: 0 1rem; */
}
